.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}
.mainContainer {
  position: relative;
}
.input textarea {
  font: inherit;
  display: block;
  width: 100%;
  height: 160px;
  margin: 0;
  /* border: 1px solid #ccc;
  border-radius: 10px; */
  border: none;
  padding: 0.15rem;
  /* margin-bottom: 0.5rem; */
}

.input textarea:focus {
  outline: none;
  border-color: #4f005f;
}
.btnDiv {
  display: flex;
  justify-content: space-around;
}
.dropDownPosition {
  position: absolute;
  margin-left: 40px;
  margin-top: 24px;
}
.textAreaDiv {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid black;
  color: black;
}
.divSpan {
  position: absolute;
  background-color: yellow;
  top: 9%;
  left: 35%;
  padding: 3px;
}
